<!DOCTYPE html>
<html>
  <head>
    <title>Intel</title>

    <meta charset="utf-8" />

    <style>
      body {
        font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 20px;
        font-size: 14px;
        line-height: 1.4;
        color: #333;
      }

      table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        margin-bottom: 20px;
      }

      th {
        text-align: left;
        border-bottom: solid 2px #ddd;
      }

      h1 {
        font-size: 20px;
      }

      h2 {
        font-size: 16px;
      }

      ul {
        list-style-type: none;
        padding: 0;
      }

      table td, table th {
        padding: 8px;
      }

      td {
        border-top: solid 1px #ddd;
      }

      #header {
        border-bottom: solid 1px #ddd;
        padding-bottom: 20px;
      }

      .nav, .nav li {
        display: inline;
      }

      .nav li {
        margin-right: 20px;
      }

      #stream {
        border-bottom: solid 1px #ddd;
      }

      a, a:visited, a:active {
        color: #428bca;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }

      .num {
        text-align: right;
      }

      .container {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
      }

      /**
       * For modern browsers
       * 1. The space content is one way to avoid an Opera bug when the
       *    contenteditable attribute is included anywhere else in the document.
       *    Otherwise it causes space to appear at the top and bottom of elements
       *    that are clearfixed.
       * 2. The use of `table` rather than `block` is only necessary if using
       *    `:before` to contain the top-margins of child elements.
       */
      .cf:before,
      .cf:after {
          content: " "; /* 1 */
          display: table; /* 2 */
      }

      .cf:after {
          clear: both;
      }

      /**
       * For IE 6/7 only
       * Include this rule to trigger hasLayout and contain floats.
       */
      .cf {
          *zoom: 1;
      }
    </style>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  </head>
  <body>
    <div class="container">
      <% if !@no_data %>
        <div id="header" class="cf">
          <% if %w[overview index].include?(params[:action]) and @time_range %>
            <div style="float: right;">
              <%= @time_range.first.strftime("%b %-e, %Y") %> to <%= @time_range.last.strftime("%b %-e, %Y") %>
              <span style="color: #999;"><%= Time.zone.name.sub(" (US & Canada)", "") %></span>
            </div>
          <% end %>

          <ul class="nav">
            <li><%= link_to "Live Stream", intel.root_path %></li>
            <% Intel::Search.uniq.pluck(:search_type).each do |search_type| %>
              <li><%= link_to search_type, intel.overview_searches_path(search_type: search_type) %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
