<!DOCTYPE html>
<html>
  <head>
    <title>Intel</title>

    <meta charset="utf-8" />

    <style>
      body {
        font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 20px;
      }

      table {
        width: 100%;
      }

      th {
        text-align: left;
      }

      h1 {
        font-size: 20px;
      }

      ul {
        list-style-type: none;
        padding: 0;
      }

      .nav, .nav li {
        display: inline;
      }

      #stream li {
        border-bottom: solid 1px #ccc;
        padding: 20px 0;
      }

      a, a:visited, a:active, a:hover {
        color: blue;
      }

      .num {
        text-align: right;
      }

      .container {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
      }

      /**
       * For modern browsers
       * 1. The space content is one way to avoid an Opera bug when the
       *    contenteditable attribute is included anywhere else in the document.
       *    Otherwise it causes space to appear at the top and bottom of elements
       *    that are clearfixed.
       * 2. The use of `table` rather than `block` is only necessary if using
       *    `:before` to contain the top-margins of child elements.
       */
      .cf:before,
      .cf:after {
          content: " "; /* 1 */
          display: table; /* 2 */
      }

      .cf:after {
          clear: both;
      }

      /**
       * For IE 6/7 only
       * Include this rule to trigger hasLayout and contain floats.
       */
      .cf {
          *zoom: 1;
      }
    </style>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  </head>
  <body>
    <div class="container">
      <div id="header">
        <% if %w[overview index].include?(params[:action]) %>
          <div style="float: right;">
            <h4><%= @time_range.first.strftime("%b %-e, %Y") %> to <%= @time_range.last.strftime("%b %-e, %Y") %></h4>
          </div>
        <% end %>

        <%= link_to "Intel", intel.root_path %>
        Dig Deeper
        <ul class="nav">
          <% Intel::Search.uniq.pluck(:search_type).each do |search_type| %>
            <li><%= link_to search_type, intel.overview_searches_path(search_type: search_type) %></li>
          <% end %>
        </ul>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
