<h1>
  <%= @search_type %> Searches
  <small>Top <%= @limit %></small>
</h1>

<table>
  <thead>
    <tr>
      <th>Query</th>
      <th class="num width-20"><%= link_to "Searches", searches_path(search_type: params[:search_type], **@time_params), class: ("active" if params[:sort] != "conversion_rate") %></th>
      <th class="num width-20">Converted</th>
      <th class="num width-20"><%= link_to "%", searches_path(search_type: params[:search_type], sort: "conversion_rate", **@time_params), class: ("active" if params[:sort] == "conversion_rate") %></th>
      <th class="num width-20">Avg Results</th>
    </tr>
  </thead>
  <tbody>
    <% @searches.each do |search| %>
      <tr>
        <td><%= search["normalized_query"] %></td>
        <td class="num"><%= search["searches_count"] %></td>
        <td class="num"><%= search["converted_count"] %></td>
        <td class="num"><%= number_to_percentage search["conversion_rate"].to_f, precision: 0 %></td>
        <td class="num"><%= search["avg_results_count"].to_f.round %></td>
      </tr>
    <% end %>
  </tbody>
</table>
