<% content_for :date_picker do %>
  <%= form_tag(searches_index_path, class: 'date_picker_form') %>
  <%= render "searchjoy/shared/date_picker_form" %>
<% end %>
<h1>
  <%= @search_type %> Searches
  <small>Top <%= @limit %></small>
</h1>

<table>
  <thead>
    <tr>
      <th>Query</th>
      <th class="num" style="width: 20%;"><%= link_to "Searches", params.except(:sort), class: ("active" if params[:sort] != "conversion_rate") %></th>
      <th class="num" style="width: 20%;">Conversions</th>
      <th class="num" style="width: 20%;"><%= link_to "%", params.merge(sort: "conversion_rate"), class: ("active" if params[:sort] == "conversion_rate") %></th>
      <th class="num" style="width: 20%;">Avg Results</th>
    </tr>
  </thead>
  <tbody>
    <% @searches.each do |search| %>
      <tr>
        <td><%= search["normalized_query"] %></td>
        <td class="num"><%= search["searches_count"] %></td>
        <td class="num"><%= search["conversions_count"] %></td>
        <td class="num"><%= number_to_percentage search["conversion_rate"].to_f, precision: 0 %></td>
        <td class="num"><%= search["avg_results_count"].to_f.round %></td>
      </tr>
    <% end %>
  </tbody>
</table>
