<h1><%= @search_type %> Overview</h1>

<div class="grid">
  <div class="col-1-2">
    <table>
      <thead>
        <tr>
          <th>Top Searches</th>
          <th class="num"><%= link_to "View all", searchjoy.searches_path(search_type: @search_type) %></th>
        </tr>
      </thead>
      <tbody>
        <% @top_searches.each do |row| %>
          <tr>
            <td><%= row["normalized_query"] %></td>
            <td class="num"><%= row["searches_count"] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-1-2">
    <table>
      <thead>
        <tr>
          <th>Low Conversions</th>
          <th class="num"><%= link_to "View all", searchjoy.searches_path(search_type: @search_type, sort: "conversion_rate") %></th>
        </tr>
      </thead>
      <tbody>
        <% @bad_conversion_rate.each do |row| %>
          <tr>
            <td><%= row["normalized_query"] %></td>
            <td class="num"><%= number_to_percentage row["conversion_rate"], precision: 0 %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<h2>Conversion Rate</h2>

<%= line_chart @conversion_rate_by_week %>

<h2>Volume</h2>

<%= line_chart [{name: "Searches", data: @searches_by_week}, {name: "Conversions", data: @conversions_by_week}] %>
