<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<h1>Searches</h1>

<%= line_chart @searches_by_week %>

<h1>Top Searches</h1>
<%= @top_searches.inspect %>

<h1>No Results</h1>
<%= @no_results.inspect %>

<h1>Low Conversions</h1>
<% @bad_conversion_rate.each do |row| %>
  <%= row %>
<% end %>
