<% @searches.each do |search| %>
  <tr>
    <td style="width: 15%;">
      <span style="background-color: #428bca; color: #fff; padding: 8px; border-radius: 4px;"><%= search.search_type %></span>
    </td>
    <td><%= search.query %></td>
    <td style="width: 35%;">
      <% if search.converted_at %>
        <span style="color: green;">
          <span style="font-weight: bold;">✓</span>
          <%= search.convertable ? (search.convertable.respond_to?(:name) ? search.convertable.name : "#{search.convertable_type} #{search.convertable_id}") : "Success" %>
        </span>
      <% end %>
    </td>
    <td style="width: 20%;" class="num">
      <%= time_ago_in_words search.created_at %> ago
      <div style="color: #999;"><%= pluralize search.results_count, "result" %></div>
    </td>
  </tr>
<% end %>
